blockquote {
  float: right;
  width: 25%;
  margin-left: 5px;
  font-size: 13px;
}

button {
  margin: 5px;
}

.form-control {
  margin: 5px;
}

.track {
  display: none;
}

.track-title {
  font-size: 20px;
  cursor: pointer;
  color: #0088cc;
}

#results {
  font-size: 20px;
}
